Rag.json
{
  "name": "Rag",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        -360
      ],
      "id": "2744d5c4-e5e9-48bd-a50e-57f01f10d217",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12S0brHqwPc8OIIEvIwZ8iuAhDr2L0Lzw",
            "mode": "list",
            "cachedResultName": "ragn8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12S0brHqwPc8OIIEvIwZ8iuAhDr2L0Lzw"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1072,
        -360
      ],
      "id": "da78382b-71b4-472c-98e3-3478ca87a9df",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "m8N6UKSJQ8VSGLJn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -848,
        -360
      ],
      "id": "2b6f17d2-39a4-47eb-b3a2-167a475da3b2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "m8N6UKSJQ8VSGLJn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -616,
        -240
      ],
      "id": "c948f3cb-2315-4aaf-954b-c2c4e2a4aa95",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "81lhuNBolFOe42C1",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "my_collection",
          "mode": "list",
          "cachedResultName": "my_collection"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -624,
        -464
      ],
      "id": "58c4128b-b4cb-4bb6-98cb-b0d2e3afb053",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "MgGa1T86j2Zbpuao",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -488,
        -240
      ],
      "id": "336cb5fe-6cfb-4ab1-aeea-85069a1ece87",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "my_collection",
          "mode": "list",
          "cachedResultName": "my_collection"
        },
        "prompt": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1072,
        72
      ],
      "id": "4a61981e-087f-488d-9659-15523fb29ab1",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "MgGa1T86j2Zbpuao",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -1000,
        296
      ],
      "id": "e76aaeb6-1edd-4885-83e8-7d3331c9887c",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "81lhuNBolFOe42C1",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "availableInChat": true,
        "agentName": "ragn8n",
        "agentDescription": "make for the youtube",
        "options": {
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1296,
        72
      ],
      "id": "ec750ba5-a474-464d-a743-83ddf9084165",
      "name": "When chat message received",
      "webhookId": "fd2dbbf7-4e5d-475a-8afe-afdc4b250f68"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant. Use the provided context to answer the user's question.\nIf the answer is not contained in the context, say \"I don't know\".\n\nContext:\n{{ $json.pageContent }}\n\nQuestion:\n{{ $('When chat message received').item.json.chatInput }}\n\nAnswer:\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -496,
        72
      ],
      "id": "ce2f23e0-4f5c-4f03-a2a3-08afb93db840",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -608,
        304
      ],
      "id": "9c0f814f-7680-42eb-bb14-81c29b9459e0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FwMLkwcvGCeiApXT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document.pageContent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -720,
        72
      ],
      "id": "81519a9d-6663-4e51-9b8c-6a20aa28cf7a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "##  Make the emmding from the data and stored in the vector DB\n",
        "height": 480,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1560,
        -576
      ],
      "typeVersion": 1,
      "id": "37ed1d10-e7fe-4bab-b42b-3df586e425c5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Ask Question on your document",
        "height": 512,
        "width": 1424
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1496,
        -72
      ],
      "typeVersion": 1,
      "id": "85ea9877-9e8d-4cfc-b275-9529ec94ac5a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -400,
        194.51789751350577
      ],
      "id": "8df670ac-da6c-497e-b970-ba0616ac96a5",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02b8fce1-8490-45f1-9494-b30bd9104798",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1536c27e209b4600999b67f2b957f1912ef87a20bfab6a2ca3b9ad7512a6cc41"
  },
  "id": "FWFterHBqLKjweEe",
  "tags": []
}